.banner {
    background: url( 'https://images.pexels.com/photos/3958379/pexels-photo-3958379.jpeg?auto=compress&cs=tinysrgb&h=1850&w=2280' );
    background-repeat: no-repeat;
    background-size: cover        
}